
.categories
  position absolute
  width 100%
  top 139%
  background #eaeaea
  padding 10px
  border 1px solid transparent
  box-shadow 0 5px 5px 0 rgba(0,0,0,0.3)

  h3
    font-size 17px
    margin-top 0

  a
    border 1px solid primary
    display inline-block
    padding 3px 7px
    background primary
    color white
    margin-right 7px
    text-decoration none

    &:hover
      color primary
      background t
