
@import 'variables'

@import 'helper'

@import 'default'

@import 'header'

@import 'nav'
@import 'search-bar'
@import 'categories'

@import 'main-wrapper'

@import 'product'
@import 'cart'

@import 'responsive'

footer
  margin-top 50px
  background #000
  color white

  p
    text-align center
    padding 10px
    margin-bottom 0

  a
    color white

    &:hover
      color yellow
