
nav
  top 0
  left 0
  position fixed
  width 100%
  z-index 99
  background white
  padding 13px 0
  box-shadow 3px 0 5px rgba(0,0,0,.3)
  border-bottom 1px solid #BFBFBF

  img
    max-width 155px

  button
    position relative
    background n
    border 0
    padding 5px 10px
    line-height 0
    font-size 25px

    a
      color blacky !important

  .badge
    position absolute
    font-size 11px
    padding 3px 5px
    right 2px
    top 3px
    background red
    border-radius 0

  .nav-button
    border 1px solid grey
    margin-left 7px

a.back-to-top
  position fixed
  bottom 0
  right 5px
  margin-right 15px
  padding 3px 10px
  background primary
  color #e5f2ff
  text-decoration none  !important

  &:hover, &:active, &:focus
    background #90D3E1
    color white
