
form.search-bar
  position absolute
  width 100%
  top 137%
  background white
  padding 0 5px
  border 1px solid t
  box-shadow 0 5px 5px 0px rgba(0,0,0,0.3)


  &.focus
    border 1px solid primary

  input
    color #545454
    border n
    padding 9px 15px
    background t

  button
    background n
    border 0
    color primary
    padding 9px
    line-height 0
    font-size 25px
